[Unit]
Description=Read BMS 
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/msatlow/seplos.py --config config_ordi.ini
WorkingDirectory=/home/msatlow
RestartSec=10
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
